<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>824798420104-9ttbcm6167pj9d67bipnbudq2nql0t25.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.824798420104-9ttbcm6167pj9d67bipnbudq2nql0t25</string>
	<key>API_KEY</key>
	<string>AIzaSyDSX516o8GGooEJjeL2SVYN6co6fnjUa2M</string>
	<key>GCM_SENDER_ID</key>
	<string>824798420104</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.flutter.flutter.app</string>
	<key>PROJECT_ID</key>
	<string>safe-zone-e3d77</string>
	<key>STORAGE_BUCKET</key>
	<string>safe-zone-e3d77.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:824798420104:ios:920f68ebc13b31c8ae133d</string>
	<key>DATABASE_URL</key>
	<string>https://safe-zone-e3d77.firebaseio.com</string>
</dict>
</plist>